body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 175, 168)
   

}

header {
    width: 100vw;
    height: 50px;
    background-color: rgb(120, 120, 206);
}
main {

    min-height: 80vh;
    
    background-color:  rgb(46, 175, 168)
}



img {
  margin-left: 30px;
    

}

div {
  text-align: right;
  align-items: center;
}
h1 {
    color: red;
    text-align: center;
    
    
}

h2 {
    background-color: rgb(223, 227, 233);
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: red;
    padding: 5px;
    
    width: 300px;
    
    


}
links {
    text-align: right;
}
nav {
    text-align: right;
    align-items: center;
}
header {
    background-color: green;
}
section {
    margin: 10px;
    padding: 20px;
    text-align: left;
    
    
}
p {
    text-align: justify;
    padding: 10px;
    margin: 10px;
    background-color: rgb(174, 233, 213);
}
h3 {
    background-color:  rgb(223, 227, 233);
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: red;
    width: 700px;

}
